#GameScreen{
    padding-bottom: 2%;
}
  .CandyColor{
    padding-bottom: 2px;
    background-color: white;
    color: white;
    height: 50px;
    cursor: pointer;
      padding-left: 10%;
      padding-right: 10%;
  }


  .color_25,.color_15,.color_5{
   height:0.3in;
   width:0.8in;
   background-color:black;
   }
   #colorTxt{ 
       padding-top: 10px;
       text-align: center;
      
   }
   #gameInfo{
    width: 10%;
    float: left;
}

    #game{
    padding-top: 1%;
    padding-left:5%;
    padding-right: 3%;
    width:35%;
    margin-left:1%;
    float: left;

}
    #settingsView{
    padding-left: 15%;
    width:25%;
    margin-left:4%;
    float: left;
}

    .clearfix{
    clear:both
} 
.view{
    float: left;
    padding: 5px;  
    
}

  .keyView{
    float: left;
    padding: 5px;  
       
  }
  .Container {
    width: 90%;
    min-width: 500px;
    margin: auto;
}