.hero{
  height: 100%;
  width: 100%;
}
/* .form-box{
width: 247px;
height: 312px;
position: absolute;
top: 1px;
left: 10px;
margin: 6% auto;
background: rgb(253, 230, 230);
padding: 5px;
} */
.input-group{
  top: 12px;
  position: absolute;
  width: 240px;
  transition: .5s;
}
.submit{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 120;
  outline: cornflowerblue;
  border-radius: 30px;
  

}
/* .input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
} */
.button-box{
width: 140px;
margin: 25px auto;
position: relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius: 25px;
}

button.b1{
	position: absolute;
  left: 35px;
  top: 270;
}button.b2{
	position: absolute;
  left: 85px;
  top: 270;
}